<div class="set-password">
  <form class="set-password-form" [formGroup]="passwordForm" (ngSubmit)="setNewPassword()">
    <p>Set up password for: <strong>{{ email }}</strong></p>
    <input type="password" placeholder="Password" formControlName="password">
    <app-form-validation-error [control]="passwordForm.get('password')"></app-form-validation-error>

    <input type="password" placeholder="Confirm Password" formControlName="confirmPassword">
    <app-form-validation-error [control]="passwordForm.get('confirmPassword')"></app-form-validation-error>
    <button type="submit">Set Password</button>
  </form>
</div>
